// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container > h1 {
  color: white;
  font-size: 14pt;
}

.index-container {
  margin-left: 70px;
}

.index-space-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(18, 18, 18);
  width: 100%;
  min-height: 100%;
  height: auto;
  height: 100%;
}

.index-top-spacer {
  width: 100px;
  height: 90px;
}

.index-left-spacer {
  width: 90px;
  height: 1000px;
}

.index-side {
  display: flex;
  flex-direction: column;
}

.index-recommended {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(40, 40, 40);
}

.video-index-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 16vw;
  height: 23vh;
  margin: 5px;
  cursor: pointer;
}

.video-side-item {
  display:  flex;
  flex-direction: row;
  margin-bottom: 10px;
  cursor: pointer;
  height: 13vh;
}

.video-item-words {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.video-item-words span {
  margin-bottom: 6px;
  font-size: 0.8rem;
}

span {
  color: white;
}

.show-video-page {
  background: rgb(18, 18, 18);
}

.show-top-spacer {
  width: 100px;
  height: 70px;
}

.show-video {
  display: flex;
}

.show-left-spacer {
  width: 30px;
  height: 1000px;
}

.show-video-area {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
  margin: 0 20px 0 50px;
}

.show-video-area > h1 {
  color: white;
  font-size: 13pt;
}

.show-video-user-info2 > h3 {
  color: white;
  font-size: 11pt;
  margin-bottom: 5px;
}

.show-video-user-info2 > h4 {
  color: rgb(100, 100, 100);
  font-size: 11pt;
}

.show-video-user-container > h3 {
  color: white;
  font-size: 11pt;
  margin-left: 61px;
}

.show-video-user-container {
  padding: 17px 0px 26px 0px;
  border-top: 1px solid rgb(50, 50, 50);
  border-bottom: 1px solid rgb(50, 50, 50);
}

.show-video-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-video-user-info {
  display: flex;
  align-items: center;
}

.show-video-user-btn {
  display: inline;
  position: relative;
  background: blueviolet;
  color: white;
  font-size: 24px;
  text-align: center;
  border: 0px solid;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  outline: none;
}

.show-video-user-spacer {
  width: 12px;
  height: auto;
}

.show-video-edit {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background: #1a73e8;
  padding: 6px 10px;
  border-radius: 2px;
  height: 28px;
  width: 120px;
  font-size: 10pt;
  border: 0px solid;
  cursor: pointer;
}

.show-video-edit:hover {
  background: #0f54c2;
}


// video {
//   width: 100%    !important;
//   height: auto   !important;
// }

.video-item-title {
  font-weight: 500;
  font-size: 1rem;
  max-height: 3.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-item-username {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
}


.video-image-container {
  display: inline-flex;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 5px;
}

.video-side-image {
  display: inline-flex;
  width: 33%;
  height: 100%;
  position: relative;
}

.video-image-crop {
  // width: 210px;
  // height: 120px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-image-crop > img {
  width: 100%;
  height: 17vh;
}

.video-side-crop > img {
  width: 12vw;
  height: 100%;
}

.video-item-duration {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  background: rgb(18, 18, 18);
  opacity: 0.85;
  padding: 1px 3px 1px 3px;
  border-radius: 2px;
  font-size: 10pt;
}

.new-video-container {
  display: flex;
  flex-direction: column;
}

.new-upper-spacer {
  width: 100px;
  height: 70px;
}

.new-lower-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-left-spacer {
  width: 100px;
  height: 1000px;
}

.new-inner-upload-container {
  width: 750px;
  height: 400px;
  background: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-upload {
  display: flex;
  width: 95%;
  height: 95%;
}

.new-upload-form {
  display: flex;
  width: 95%;
  height: 95%;
  align-items: center;
  justify-content: center;

  div {
    margin: 10px;
  }
}

.new-video-upload-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-video-upload-btn-container > h3 {
  color: #dadce0;
}

.new-video-upload-btn {
  cursor: pointer;
}

.new-video-upload-btn:hover {
  color: #5825ea;
}

.upload-spacer {
  width: 40px;
  height: 40px;
}

#new-video-upload-input {
  display: none
}

#new-img-upload-input {
  display: none;
}

.hidden-btn {
  display: none;
  position: relative;
}

.hidden-fields {
  display: none;
  position: relative;
}

.new-video-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.new-upper-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(120, 120, 120);
}

.new-video-submit-container > h2 {
  font-size: 11pt;
  color: #dadce0;
}

.new-upper-left {
  display: flex;
  align-items: flex-end;
}

.edit-video-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.new-video-loading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new-video-loading > h3 {
  color: #dadce0;
}

.new-video-submit-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.new-video-submit-btn {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background: #1a73e8;
  padding: 0 10px;
  border-radius: 2px;
  height: 28px;
  width: 120px;
  font-size: 9pt;
  border: 0px solid;
  cursor: pointer;
}

.new-video-submit-btn:hover {
  background: #0f54c2;
}

.delete-video {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.delete-video > h2 {
  font-size: 11pt;
  color: #dadce0;
}

.delete-video-btn {
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background: #c01111;
  padding: 0 10px;
  border-radius: 2px;
  height: 28px;
  width: 120px;
  font-size: 9pt;
  border: 0px solid;
  cursor: pointer;
}

.delete-video-btn:hover {
  background: #5c0a0a;
}

.new-video-input-container {
  width: 100%;
}

.new-video-input {
  display: flex;
  border: 1px solid;
  border-color: rgb(50, 50, 50);
  color: #dadce0;
  background: rgb(18, 18, 18);
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px 5px;  
  width: 100%;
  height: 28px;
  box-sizing: border-box;
}

.new-video-input:focus {
  border-color: #2064d1;
}

.new-video-description {
  border: 1px solid;
  border-color: rgb(50, 50, 50);
  color: #dadce0;
  background: rgb(18, 18, 18);
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px 5px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
}

.new-video-description:focus {
  border-color: #2064d1;
}



