.header {
  position: fixed;
  z-index: 3;
  background: rgb(40, 40, 40);
  opacity: 0.987;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-container {
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bars {
  cursor: pointer;
}

.left-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170px;
  height: 90%;
}

.left-header-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 99%;
  cursor: pointer;
}

.header-left-space {
  display: flex;
  width: 20px;
  height: 50px;
}

.header-logo-text {
  color: white;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 600px;
}

.search-label {
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  color: rgb(120,120,120);
  font-family: 'Roboto';
  font-size: 16px;
  padding-left: 15px;
  background: rgb(20, 20, 20);
  height: 70%;
  border: 1px solid;
  /* border-right: 0px; */
  border-color: rgb(50, 50, 50);
  border-radius: 2px;
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
}

.search-bar:focus {
  border-color: #1b8ef3;
}

.search-button {
  background: rgb(50, 50, 50);
  width: 10%;
  height: 75%;
  border: 1px solid;
  border-color: rgb(50, 50, 50);
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  
}

.search-icon {
  font-size: 11pt;
}

.search-button:hover {
  .search-icon {
    color: rgb(170, 170, 170);
  }
}


/* .search-btn {
  display: flex;
  flex-direction: row;
  height: 99%;
} */

.right-header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
  width: 14vw;
}

.header-upload {
  // width: 41px;
  // height: 41px;
  cursor: pointer;
}

.header-right-vid-spacer {
  height: 40px;
  width: 30px;
}

.greeting-spacer {
  width: 57px;
  height: 3px;
}

.greeting-signin > a{
  color: #3ea6ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 12pt;
}

.greeting-user-btn {
  display: inline;
  position: relative;
  background: blueviolet;
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0px solid;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  outline: none;
  cursor: pointer;
}

.header-right-space {
  width: 20px;
  height: 50px;
}

.greeting-user {
  position: relative;
}

.greeting-dropdown {
  display: none;
  position: absolute;
  left: -150px;
  background-color: #282828;
  border: 2px solid #323232;
  border-top: 0px;
  min-width: 200px;
}

.open {
  display: block;
}

.dropdown-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 2px solid #323232
}

.dropdown-top-content {
  display: flex;
  flex-direction: column;
}

.img-holder {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.img-holder > img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.dropdown-top-content h2 {
  font-size: 0.8rem;
  color: white;
}

.dropdown-top-content h3 {
  font-size: 0.7rem;
  color: white;
  margin-top: 5px;
}

.dropdown-top-content a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #3ea6ff;
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-bottom {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // min-height: 8vh;
}

.dropdown-bottom > div:first-child {
  margin-top: 5px;
}

.dropdown-bottom > div {
  color: #dadce0;
  font-size: 0.8rem;
  width: 92%;
  padding: 8px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

.dropdown-bottom > div:last-child {
  margin-bottom: 5px;
}

.dropdown-bottom > div:hover {
  background-color: #383838;
  border-color: #383838;
  cursor: pointer;
}

.dropdown-item > div {
  display: inline-block;
  width: 33px;
}
