.header {
  position: fixed;
  z-index: 3;
  background: rgb(40, 40, 40);
  opacity: 0.987;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-container {
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170px;
  height: 90%;
}

.left-header-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 99%;
  cursor: pointer;
}

.header-left-space {
  display: flex;
  width: 20px;
  height: 50px;
}

.header-logo-text {
  color: white;
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 600px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  color: rgb(120,120,120);
  font-family: 'Roboto';
  font-size: 16px;
  padding-left: 15px;
  background: rgb(20, 20, 20);
  height: 70%;
  border: 1px solid;
  /* border-right: 0px; */
  border-color: rgb(50, 50, 50);
  border-radius: 2px;
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
}
.search-bar:focus {
  border-color: #3ea6ff;
}

.search-button {
  background: rgb(50, 50, 50);
  width: 10%;
  height: 75%;
  border: 1px solid;
  border-color: rgb(50, 50, 50);
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* .search-btn {
  display: flex;
  flex-direction: row;
  height: 99%;
} */

.right-header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
  width: 300px;
}

.greeting-signin > a{
  color: #3ea6ff;
  text-decoration: none;
  font-weight: bold;
}

.greeting-user-btn {
  display: inline;
  position: relative;
  background: blueviolet;
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0px solid;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  outline: none;
  cursor: pointer;
}

.header-right-space {
  width: 20px;
  height: 50px;
}