html, body {
  font-family: 'Roboto', sans-serif;
  color: #202124;
  height: 100%
}

.signin-page {
  background: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  min-height: 100%;
  height: auto;
  height: 100%;
}

.signin-form-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  padding: 10px;
}

.main-logo {
  display: flex;
  width: 100px;
  height: 50px;
  margin-top: 10px;
}

.logo-text {
  font-size: 20pt;
  font-family: 'Oswald', sans-serif;
}

.signin-form > h2 {
  font-size: 18pt;
}

.signin-form > h3 {
  font-size: 12pt;
  // font-family: 'Open Sans', sans-serif;
}

.header {
  visibility: visible;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  max-height: 550px;
  width: 420px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
}

// .signin-form:invalid {
//   border: 2px solid #d93025;
// }

.signin-error {
  color: #d93025;
  font-size: 10pt;
}

// .signin-input-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px;
//   height: 200px;
// }

.signin-float-label {
  display: flex;
  // position: relative;
  width: 360px;
  padding: 7px;
  margin: 4px;
}

.signin-float-label > label {
  display: flex;
  // position: absolute;
  // transform: translate(0, 16px) scale(1);
}

.signin-bottom-container {
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.signin-link > a{
  color: #1a73e8;
  text-decoration: none;
  // font-weight: bold;
}

.signin-input {
  display: flex;
  border: 1px solid #dadce0;
  border-radius: 5px;
  height: 50px;
  width: 330px;
  margin: 5px;
  text-indent: 10px;
  box-sizing: border-box;
}

.signin-input:focus {
  border: 2px solid #1a73e8;
}

.signin-input:invalid {
  border: 2px solid #d93025;
}

// .signin-float > label:focus {
//   transform: translate(0, 20px) scale(1);
// }

.signin-btn {
  display: flex;
  justify-content: center;
  color: white;
  background: #1a73e8;
  padding: 5px;
  border-radius: 4px;
  height: 38px;
  width: 90px;
  font-size: 11pt;
  border: 0px solid;
}

.signin-btn:hover {
  background: #4285f4;
  cursor: pointer;
}

.signin-demo {
  display: flex;
  justify-content: space-around;
  // flex-direction: flex-end;
}